.carousel-indicators {
    bottom: 4%;
    display: none;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
/* .carousel-control-next {
    right: 0;
    background: black;
} */
/* .carousel-control-prev {
    right: 0;
    background: black;
} */
.carousel-control-next-icon {
    background-image: url('../../images/right-arrow.png')
}
.carousel-control-prev-icon {
    background-image: url('../../images/left-arrow.png')
}
.single-right-left{
text-align: left
}
.addCart{
    font-size: 20px
}